section.blogposts
    .blogposts-container
        h3.blogposts-title últimos blogposts
        article.blogposts-card
            img(src="../assets/images/post-image.webp", alt="")
            h4.blogpost-card--title Título del Blogpost
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae repudiandae eius nostrum corrupti quia, commodi similique eaque est dolorum totam.
            button.button-noticias 
                a(href="#") Leer más
        article.blogposts-card
            img(src="../assets/images/post-image.webp", alt="")
            h4.blogpost-card--title Título del Blogpost
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae repudiandae eius nostrum corrupti quia, commodi similique eaque est dolorum totam.
            button.button-noticias 
                a(href="#") Leer más
        article.blogposts-card
            img(src="../assets/images/post-image.webp", alt="")
            h4.blogpost-card--title Título del Blogpost
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae repudiandae eius nostrum corrupti quia, commodi similique eaque est dolorum totam.
            button.button-noticias 
                a(href="#") Leer más
        article.blogposts-card
            img(src="../assets/images/post-image.webp", alt="")
            h4.blogpost-card--title Título del Blogpost
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae repudiandae eius nostrum corrupti quia, commodi similique eaque est dolorum totam.
            button.button-noticias 
                a(href="#") Leer más
        article.blogposts-card
            img(src="../assets/images/post-image.webp", alt="")
            h4.blogpost-card--title Título del Blogpost
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae repudiandae eius nostrum corrupti quia, commodi similique eaque est dolorum totam.
            button.button-noticias 
                a(href="#") Leer más
        article.blogposts-card
            img(src="../assets/images/post-image.webp", alt="")
            h4.blogpost-card--title Título del Blogpost
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae repudiandae eius nostrum corrupti quia, commodi similique eaque est dolorum totam.
            button.button-noticias 
                a(href="#") Leer más