header
    section.header-icons-container
        div.icons
            a(href="#", alt="Facebook")
                span.fimanager.flaticon-001-facebook
            a(href="https://twitter.com/luisc_beltran")
                span.fimanager.flaticon-002-twitter
            a(href="https://www.instagram.com/luisc_beltran/")
                span.fimanager.flaticon-011-instagram
            a(href="https://www.linkedin.com/in/luiscbeltran/")
                span.fimanager.flaticon-010-linkedin
            a(href="https://www.youtube.com/channel/UCX7H-YOdJl4vUDxBkqYDHew")
                span.fimanager.flaticon-008-youtube
    nav 
        section.nav-logo-container
            a(href="#")
                img(src="../assets/images/logo-negro.webp", alt="Logo de mi blog")
        section.profile-link
            a(href="perfil.html") Sobre mí