section.noticias 
    .noticia-titulo-container
        h3.noticias-titulo Noticias
    .noticia-post-container
        .noticias-img-container
        .noticias-card 
            h2.titulo-noticias-card Título del Blogpost
            p.noticias-post Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti aliquid veniam temporibus. Asperiores, voluptates? Ut facilis explicabo adipisci laborum debitis praesentium rerum magnam recusandae, doloremque autem harum dignissimos doloribus minus?
            button.button-noticias 
                a(href="#") Leer más